{% if mainmenu is not defined %} 
    {% set mainmenu = 'inicio' %}
{% endif %}

<nav id="mainMenu">
    <ul>
        <li><a {{ mainmenu == 'inicio' ? "class='select'" : "" }} href="{{ path('portada') }}">Home</a></li>
        <li><a {{ mainmenu == 'usuarios' ? "class='select'" : "" }} href="{{ path('usuarios') }}">Usuarios</a></li>
    </ul>
</nav>