body{    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
header{
    position:relative;
    height:140px;
    background:#D3D3D3;
}

footer{
    height:140px;
    background:#D3D3D3;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color:#08C;
}

#mainWrapper{
    margin:20px auto;
    width:1000px;
}

#authMenu{
    position: absolute;
    top:0;
    right:0;
    height: 24px;
    background: #fff;
}

#search{
    position: absolute;
    bottom:0;
    right:0;
    height: 24px;
    background: #fff;
}

nav#mainMenu{
    background:#2f2f2f;
    position:absolute;
    bottom: 0;
    left:0;
    height:24px;
}

nav#mainMenu li{
    float:left;
    padding:3px;
    margin-right: 10px;
}

nav#mainMenu li .select{
    background:green;
}

#body{
    min-height: 400px;
    background:bisque;
}
.floatlist{
    list-style: none;    
    clear:left;
}
.floatlist li{
    float:left;
    padding:4px;    
}