body{   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background: url(/images/back-psicodelic-small.gif) 50% 0 repeat-y;
}
header{
    position:relative;
    height:140px;
    /*background:#D3D3D3;*/
}

footer{
    height:140px;
    /*background:#D3D3D3;*/
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color:#08C;
}

.left{float:left;}
.right{float:right;}

.w220{
    width:220px;
}

.w488{
    width:488px;
}

.logo{
    padding:12px 0 0 12px;
}

nav#mainMenu a:hover,
nav#mainMenu a:visited,
nav#mainMenu a:link{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color:#FFF;
    text-shadow: 0px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}

#banner-back {left:0px; margin: 0 auto; min-height:1080px; min-width:990px; padding:0; position:fixed; top:80px; width:100%; } 
.banner-crop {height:100%; left:0; overflow:hidden; position:absolute; top:0; width:100%; }
.banner-center {left:50%; position:absolute; top:0; }
.banner-offset {left:-50%; position:relative; top:0; }
.banner-img {display:block; margin:0 auto; text-align:center;}

#mainWrapper{
    position:relative;
    margin:40px auto;
    width:992px; 
    background: #0d0d0d;
    border:solid 8px #1e1e1e;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 8px 3px;
    -moz-box-shadow: 0px 0px 8px 3px;
    box-shadow: 0px 0px 8px 3px;   
}

#authMenu{
    position: absolute;
    text-align: right;
    top:8px;
    right:8px;
    width: 380px;
    height: 70px;
}
#authMenu a:hover,
#authMenu a:visited,
#authMenu a:link{
    text-decoration: none;
    color:#e1a401;
}
#authMenu a:hover{
    text-decoration: underline;
}

#authMenu form{
    width: 380px;
}
#authMenu input[type='text'],
#authMenu input[type='password']{
    border:0;
    height:23px;   
    line-height:23px;
    width:140px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

#search{
    position: absolute;
    bottom:0;
    right:0;
    height: 24px;
    background: #fff;
}

nav#mainMenu{
    position:absolute;
    bottom: 0;
    left:20px;
    height:29px;
}

nav#mainMenu li{
    position:relative;
    float:left;
    margin-right: 10px;
}

nav#mainMenu a{
    display:block;
    height:29px;
    line-height:29px;
    padding:0 4px;
    background: url(/images/back-button-mainmenu.gif) repeat-x;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-radius: 2px 2px px px;
    border-radius: 2px 2px px px;  
}

nav#mainMenu li .select{
    background: #FFF;
    color:#000;
    text-shadow: none;
    filter:none;
}

nav#mainMenu li p{
    position:absolute;
    top:29px;
    right:-17px;
    text-indent: -9999px;
    width: 18px;
    height: 11px;
    background: url(/images/back-button-mainmenu-s.gif);
}

#body{
    min-height: 400px;
    background:#FFF;
    margin:0 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}
.floatlist{
    list-style: none;    
    clear:left;
}
.floatlist li{
    float:left;
    padding:4px;    
}

.blackWindow, .redWindow{
    overflow: hidden;
    margin:12px 0 0 10px;
    background: #f4f4f4 url(/images/back-window-black.jpg) repeat-x;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
}
.redWindow{
    background: #f4f4f4 url(/images/back-window-red.jpg) repeat-x;    
}

.redWindow > h1,
.blackWindow > h1{
    float:left;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color:#fff;
    text-shadow: 0px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);    
}
.redWindow > h2,
.blackWindow > h2{
    font-weight: normal;
    float:right;
    padding-right: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color:#fff;
    text-shadow: 0px 1px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);    
}