{% extends '::base.html.twig' %}

{% block body %}

    <br clear="all" />
    
    <section class="blackWindow left wMedium">
            <h1>Introducción</h1>
            <h2>{{ lang.introh2 }} <a class="divPop" rel='#wrapper' href="/wrappers/sugerencias-perfil-introductorio.html">Sugerencias</a></h2>
            <br clear="all" />
            
            <p>w</p>
            <p>w</p>
            <p>w</p>
            <p>w</p>
            <button>Test de compatibilidad</button> Ajusta tus preferencias<br />
            <button>Formulario de compatibilidad</button> ¿Qué estás buscando?
    </section>
    
    <section class="redWindow left wSmall">
        <h1>Básico</h1>
            <h2><a class="divPop" rel='#wrapper' href="/wrappers/detalles-perfil-ayuda.html">Ayuda</a></h2>
            <br clear="all" /></br>
        <p>s</p>
        <p>s</p>
        <p>s</p>
        <p>ss</p>
        <p>s</p>
    </section>    
    
    <section class="redWindow left wSmall">
        small
        <p>s</p>
        <p>s</p>
        <p>s</p>
        <p>ss</p>
        <p>s</p>
    </section>      
    
    <div class="apple_overlay" id="wrapper"><div class='html'></div></div>
    
{% endblock body %}