<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block titulo %}Home Page{% endblock %}</title>
        
        {% stylesheets
            "@NVParejasBundle/Resources/public/css/*"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
                   
        {% javascripts
            "@NVParejasBundle/Resources/public/js/*"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}            
            
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="mainWrapper">
            {% block header %}
                <header>                
                    {% include ':templates:mainMenu.html.twig' %}
                    {% include ':templates:authMenu.html.twig' %}
                    {% include ':templates:search.html.twig' %}                
                </header>
            {% endblock header %}
            {% block body %}
                <div id="body">
                    BODY                
                </div>
            {% endblock body %}          
            {% block footer %}
                <footer>
                    FOOTER
                </footer>
            {% endblock footer %}          
        </div>
    </body>
</html>
