<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block titulo %}Home Page{% endblock %}</title>
        
        {% stylesheets
            "@NVParejasBundle/Resources/public/css/*"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
                   
        {% javascripts
            "@NVParejasBundle/Resources/public/js/jquery/*"
            "@NVParejasBundle/Resources/public/js/*"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}            
            
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="mainWrapper">
            <header>
            {% block header %}
                    <a href="{{ path('home') }}"><img src="/images/logo.gif" width="304" height="48" alt="" /></a>
                {% include ':templates:mainMenu.html.twig' %}
                {% include ':templates:authMenu.html.twig' %}
                {% include ':templates:search.html.twig' %}                                
            {% endblock header %}
            </header>
                
            <div id="body">
            {% block body %}                
                BODY                                
            {% endblock body %}         
            </div>
                
            <footer>    
            {% block footer %}                
                FOOTER    
            {% endblock footer %}          
            </footer>                    
        </div>
    </body>
</html>
