{% extends "::base.html.twig" %}

{% block titulo %}Portada{% endblock %}

{% block body %}
    
    <div class="blackWindow left wSmall">

        <h1>Accede a tu cuenta</h1>
        <h2>Introduce tus credenciales</h2>
        <br clear="all" />
        
        <p>xsdsd</p>
        <p>xsdsd</p>
        
    </div>

    <div class="redWindow left wMedium">

        <h1>Accede a tu cuenta</h1>
        <h2></h2>
        <br clear="all" />
   
        
        <p>xsdsd</p>
        <p>xsdsd</p>
        <p>xsdsd</p>

    </div>

    <div class="blackWindow left wSmall">

        <h1>Accede a tu cuenta</h1>
        <h2>Introduce tus credenciales</h2>
        <br clear="all" />
        
        <p>xsdsd</p>
        <p>xsdsd</p>
        
    </div>

    {% if app.user %}
        <p>Estás logueado como <strong>{{ app.user.username }}</strong></p>
        <p><a href="{{ path('logout') }}">Salir</a></p>
    {% endif %}    
    
    {% if is_granted('ROLE_ADMIN') %}
        <li>Tienes Rol de Admin</li>
    {% endif %}    

{% endblock body %}
        
{% block absolute %}        
    {% include 'NVParejasBundle:Estatica:condicionesdeuso.html.twig' %}
{% endblock absolute %}